* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Didot', sans-serif;
    background-image: url('assets/OD_Travels_Background.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
  
  /* Navigation Bar Styling */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
  .nav-btn {
    background-color: #FF4B2B;
    border: none;
    padding: 8px 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .nav-btn:hover {
    background-color: #ff6f61;
  }
  
  /* Hero Section Styling */
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('assets/OD_Travels_Background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:black;
    padding-bottom: 200px; /* Moves content higher on the page */
  }
  
  .hero h1 {
    font-style: italic;
    font-size: 68px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 30px; /* Keeps the gap between h1 and h3 */
  }
  
  .hero h3 {
    font-size: 34px;
    font-style: italic;
    margin: 0;
  }
  